.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400;
	background-color: #efd6d6;
	border: 2px solid #000;
	padding: 25px;
}

.submit-btn {
	display: block;
	width: 120px;
	margin-top: 20px;
	padding: 5px;
	background: #a5ccd0;
}
.cancel-btn {
	width: 120px;
	margin-top: 20px;
	padding: 5px;
}

.label {
	display: block;
	text-align: left;
}

.error {
	color: #a80909;
	margin-top: 10px;
}
